/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styling */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.sort {
    display: flex;
    align-items: center; /* Center items vertically */
}

#button1,
#button2 {
    display: flex;
    gap: 2px; /* Adjust the gap as needed */
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
}
#link1 a{
	margin-top: 2px;
    margin-right: 2px;
    margin-left: 4px;
    text-decoration: none;
}
#link2 a{
	margin-top: 2px;
	margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
}
#link3 a{
	margin-top: 2px;
	margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
}
#link4 a{
	margin-top: 2px;
	margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
}

/* Card styling with flexbox */
#itemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: calc(25% - 20px); /* Adjust width based on the number of cards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card p {
    margin: 5px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#updateData:hover {
    background-color: #555; /* Change the background color on hover */
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
