/* Basic page styling */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* Header styling */
header {
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}

.sort {
	text-align: center;
}

.button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #fff;
	transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for the buttons */
.button:hover {
	background-color: darkgreen;
	/* Green color */
	color: white;
}

/* Card styling with flexbox and new advanced styles */
#itemsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	/* Increased border radius */
	margin: 10px;
	padding: 20px;
	/* Increased padding */
	width: calc(25% - 20px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
	box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
}

.card img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	/* Increased border radius */
}

.card p {
	margin: 10px 0;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

/* Hover effect for buttons */
button:hover {
	background-color: darkgreen;
	/* Green color */
	color: white;
}

/* Footer styling */
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
}

#compareButton {
	position: absolute;
	top: 50px;
	right: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}



#viewCartBtn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 60px;
	right: 10px;
}

#compareButton:hover,
#viewCartBtn:hover {
	background-color: darkgreen;
	/* Green color */
	color: white;
}

/* Style for the fixed navbar */
nav {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	transition: background-color 0.3s;
}

/* Add a slight shadow to the navbar on scroll */
nav.scrolled {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style for the navbar links */
nav a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
	font-size: 16px;
}

nav a:hover {
	background-color: darkgreen;
	/* Green color */
	color: white;

}

/* Style for the main content */
.content {
	padding: 60px 20px 20px;
}

#signoutForm {
	display: inline;
}