/* Basic page styling */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* Header styling */
header {
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}

.sort {
      text-align: center;
    }
    
.button {
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 5px;
      cursor: pointer;
      border: 2px solid #3498db;
      border-radius: 5px;
      color: #3498db;
      background-color: #fff;
      transition: background-color 0.3s, color 0.3s;
    }

    /* Hover effect for the buttons */
    .button:hover {
      background-color: #3498db;
      color: #fff;
    }

/* Card styling with flexbox */
#itemsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 15px;
	width: calc(25% - 20px);
	/* Adjust width based on the number of cards */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card p {
	margin: 5px 0;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

button {
	background-color: #333;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

/* Footer styling */
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
}

#compareButton {
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}