* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	height: 100vh;
}

.container 
{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}
header {
background: #687EFF;
color: #ffffff;
padding: 1em 0;
text-align: center;
border-radius: 20px;
}
footer {
background: #687EFF;
color: #ffffff;
text-align: center;
padding: 1em 0;
bottom: 0;
width: 100%;
}
form {
	
background: #ffffff;
margin: 2em 0;
padding: 2em;
border-radius: 8px;
box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}
label {
display: block;
margin: 0 0 1em 0;
}
input {
width: 100%;
padding: 8px;
box-sizing: border-box;
margin-bottom: 1em;
border-radius: 4px;
border: 1px solid #ccc;
}
input[type="submit"] {
cursor: pointer;
background-color: #98E4FF;
color: #ffffff;
border: none;
padding: 10px 20px;
border-radius: 20px;
font-weight: bold;
}
input[type="submit"]:hover {
background-color: #98E4FF;
}
table {
width: 100%;
border-collapse: collapse;
margin: 2em 0;
}
th, td {
padding: 8px 12px;
border: 1px solid #ddd;
}
th {
background-color: #50b3a2;
color: white;
}

#confirmationMessage
{
	text-align: center;
	font-size: 24px;
	color: red;
}